.left {
	float: left;
	margin: 0 10px 0 0;
}
.right {
	float: right;
	margin: 0 0 0 10px;
}
a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #353535;
}
a:hover {
	text-decoration: underline;
}
html, body, #page {
	height: 100%;
}
body {
	margin: 0;
    font-size: 62.5%;
    line-height: 1.5;
	font-family: Helvetica, Arial, Sans-serif;
	color: #111;
}
#page-wrapper {
	min-height: 100%;
	min-width: 960px;
	padding-top: 30px;
}
#header div.section, 
#featured div.section, 
#messages div.section, 
#main, 
#footer-columns, 
#footer { 
	width: 960px;
	margin: 0 auto;
}
a#logo {
	float: left;
}
#navigation {
	width: 600px;
	float: right;
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
}
#header {
	padding-bottom: 30px;
}
#header ul.inline {
	margin: 0;
}
#main-wrapper {
	min-height: 300px;
}
#main {
    margin-bottom: 40px;
    margin-top: 20px;
	font-size: 1.3em;
}
#sidebar-first, #sidebar-second {
	width: 304px;
}
.sidebar .section {
    padding-top: 10px;
}
.front .region-content {
	margin-top: -10px;
}
.block {
    margin: 0 0 26px;
    padding: 6px;
}
.front .block, 
.sidebar .block
{
	background-color: #E6E7E8;	
}
.block h2 {
	margin: 0 0 8px 0;
}
.one-sidebar #content {
    width: 632px;
	margin-right: 24px;
}
.no-sidebars #content {
    width: 960px;
    float: none;
}
#content, 
#sidebar-first, 
#sidebar-second, 
.region-footer-firstcolumn, 
.region-footer-secondcolumn, 
.region-footer-thirdcolumn, 
.region-footer-fourthcolumn {
    display: inline;
    float: left;
    position: relative;
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}