.left {
	float: left;
	margin: 0 10px 0 0;
}
.right {
	float: right;
	margin: 0 0 0 10px;
}
a:focus {
	outline: 1px solid;
}
a, li a.active, #main-wrapper h4 a {
	text-decoration: none;
	color: #232323;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 8px 0;
}
hr {
	border: 0 none;
	background: url(../images/block-divide.png) repeat-x 0 0;
}
html, body, #page {
	height: 100%;
}
body {
	margin: 0;
    font-size: 62.5%;
    line-height: 1.5;
	font-family: Helvetica, Arial, Sans-serif;
	color: #232323;
	background-color: #FFFBF3;
}
#page-wrapper {
	min-height: 100%;
	min-width: 960px;
} 
#header div.section,
#featured div.section, 
#messages div.section, 
#main, 
#footer div.section { 
	width: 960px;
	margin: 0 auto;
}
#header div#nav-wrap {
	width: 1000px;
	margin: 0 auto;
}
#header {
	padding-bottom: 20px;
}
#navigation {
	width: 1000px;
	text-align: right;
	height: 45px;
/*	margin-bottom: 25px;*/
}
ul#main-menu {
	margin: 0;
	padding: 0;
	float: right;
}
#navigation ul.inline li {
	margin: 0;
	padding: 0;
	float: left;	
	background: url(../images/nav-divide.png) repeat-y 0 0;
}
#navigation ul.inline li.first {
	background: 0 none;
}
#navigation ul.inline li a {
	display: block;
	height: 45px;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -7654px;
	font-size: 0;
	line-height: 0;
}
#navigation ul.inline li a.active-trail,
#navigation ul.inline li a:hover {
	background-position: 0 -45px;
}
#navigation ul.inline li.menu-418 a {
	width: 84px;
	background-image: url(../images/menu-home.png);
}
#navigation ul.inline li.menu-358 a {
	width: 91px;
	background-image: url(../images/menu-about.png);
}
#navigation ul.inline li.menu-359 a {
	width: 130px;
	background-image: url(../images/menu-ourwork.png);
}
#navigation ul.inline li.menu-360 a {
	width: 134px;
	background-image: url(../images/menu-employers.png);
}
#navigation ul.inline li.menu-380 a {
	width: 75px;
	background-image: url(../images/menu-blog.png);
}
#navigation ul.inline li.menu-465 a {
	width: 108px;
	background-image: url(../images/menu-contact.png);
}
a#logo {
	width: 231px;
	height: 182px;
	float: left;
	margin-top: -10px;
}
#main-wrapper {
	margin-bottom: 130px;
}
#hp-text {
	margin-top: 40px;
	font-size: 18px;
	line-height: 22px;
	float: right;
	padding: 24px 0 8px 0;
	border-top: 2px solid #24C4F4;
	/*border-width: 2px 0;*/
	/*text-align: right;*/
}
.not-front #main {
	margin-top: 40px;
}
#main {
	font-size: 1.3em;
}
#main-wrapper #hp_main .video {
	width: 632px;
	margin: 0 auto 24px;
}
h1.title {
	height: 30px;
	margin: 6px 0 22px 0;
	padding-right: 54px;
	float: left;
	background: url(../images/title-bubbles.png) no-repeat right 4px;
}
#hp-text,
.one-sidebar #content, 
#hp_main,
#block-views-hp-carousel-block {
    width: 632px;
}
.no-sidebars #content {
    width: 960px;
}
#content, 
#sidebar-first, 
#sidebar-second, 
#footer .region-footer-first {
    float: left;
}
#footer .region-footer-second {
	float: right;
}
#sidebar-first, 
#sidebar-second {
	width: 304px;
}
#footer .region {
	width: 480px;
}
a#logo,
#sidebar-first {
	margin-right: 24px;
}
.front #sidebar-first {
	width: 274px;
	margin-right: 54px;
	/*padding-top: 50px;*/
}
#sidebar-second {
	margin-left: 24px;
	padding-top: 8px;
}
#content_footer {
	width: 960px;
	clear: both;
	padding-top: 16px;
	overflow: hidden;
}
#footer .region-footer-second {
	text-align: right;
}
.block {
	clear: both;
}
.sidebar .block {
	padding: 6px 6px 20px 6px;
	background: url(../images/block-divide.png) repeat-x 0 bottom;
}
#main-wrapper .block {
	margin: 0 0 16px 0;
}
#main-wrapper .hp-partners {
	margin-top: 12px;
}
#main-wrapper a,
.hp-quote,
.block h2,
.block h2 a,
.block .views-field-title a,
.node-readmore a {
	color: #24c4f4;
}
.block h2,
.block .views-field-title span {
	display: block;
	margin: 0 0 8px 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
}
#footer {
	padding: 30px 0 20px 0;
	background-color: #efece4;
	border: 1px solid #bbbdbf;
	font-size: 1.1em;
}
#block-block-3,
.sign-up-box {
	width: 632px;
	height: 184px;
	background: url(../images/sign-up-box.png) no-repeat 0 0;
	position: relative;
}
.signup-text {
	width: 220px;
	height: 136px;
	padding: 12px;
	color: #fff;
}
.signup-btn {
	width: 182px;
	height: 183px;
	display: block;	
	background: url(../images/sign-up-btn.png) no-repeat 0 0;
	text-indent: -7777px;
	font-size: 0;
	line-height: 0;
}
.front .signup-btn {
	float: right;
	position: absolute;
	right: 30px;
	top: 6px;
}
.not-front .signup-btn {
	width: 90px;
	height: 90px;
	margin: 18px auto;
	background: url(../images/sign-up-btn-small.png) no-repeat 0 0;
}

/* --------------- Carousel --------------- */
.carousel {
	width: 626px;
	height: 280px;
	padding: 2px;
	border: 1px solid #dddcdb;
}
.carousel .view-content {
	width: 624px;
	height: 278px;
	background-color: #fff;
	border: 1px solid #e5e4e3;
}
.jcarousel-container {
	width: 526px;
	height: 240px;
	margin: 0 auto;
	padding-top: 30px;
}
.jcarousel-prev,
.jcarousel-next {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	left: -38px;
	top: 130px;
	background: url(../images/prev.png) no-repeat 0 0;
}
.jcarousel-next {
	left: 546px;
	background: url(../images/next.png) no-repeat 0 0;
}
/* REQUIRED FOR JCAROUSEL TO WORK */

.jcarousel-clip-horizontal {
	width: 526px;
	height: 245px;
}

.jcarousel-item {
	height: 100%;
}

/* --------------- Views --------------- */
.views-row {
	overflow: hidden;
}
.view-employer-of-the-month .view-footer {
	clear: left;
}
#block-block-8 {
	height: 140px;
	position: relative;
	background: none;
}
#block-block-10 {
	height: 163px;
	position: relative;
}
.london-bubble,
.nationwide-bubble,
.minwage-bubble {
	display: block;
	width: 110px;
	height: 110px;
	background: url(../images/bubble-yellow.png) no-repeat 0 0;
	position: absolute;
	left: 0;
	top: 42px;
}
.nationwide-bubble {
	background: url(../images/bubble-blue.png) no-repeat 0 0;
	left: 120px;
}
.minwage-bubble {
	background: url(../images/bubble-orange.png) no-repeat 0 0;
}
.view-blog .views-row {
	padding-bottom: 30px;
	margin-bottom: 20px;
	background: url(../images/block-divide.png) repeat-x 0 bottom;
	
}
ul.inline li.node-readmore {
	background-color: #ededed;
	padding: 3px 6px;
}
ul.inline li.node-readmore a:hover {
	text-decoration: none;
	color: #f79520;
}
.view-employer-of-the-month .views-field-field-logo {
	width: 200px;
	margin: 6px auto;
}
.quoted {
	font-size: 13px;
}
.view-quote-block {
	padding-bottom: 58px;
	background: url(../images/quote-bubbles.png) no-repeat center bottom;
}
.sidebar-first .quote,
.sidebar-first .views-field-field-quote {
	font-size: 18px;
	line-height: 1;
}
.sidebar-first .credit,
.sidebar-first .views-field-field-author {
	font-size: 16px;
	line-height: 1;
}
.blog-date {
	margin-bottom: 12px;
	color: #676767;
}
/* --------------- System Tabs  --------------- */

.tabs {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	clear: left;
  
}
.tabs ul.primary {
	padding: 0 3px;
	margin: 0;
	overflow: hidden;
	border: none;
	background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
	display: block;
	float: left; /* LTR */
	vertical-align: bottom;
	margin: 0 5px 0 0; /* LTR */
}
#main-wrapper .tabs ul.primary li.active a {
	border-bottom: 1px solid #ffffff;
}
#main-wrapper .tabs ul.primary li a {
	color: #000;
	background-color: #ededed;
	height: 1.8em;
	line-height: 1.9;
	display: block;
	font-size: 0.929em;
	float: left; /* not LTR */
	padding: 0 10px 3px;
	margin: 0;
	text-shadow: 0 1px 0 #fff;
	-khtml-border-radius-topleft: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-khtml-border-radius-topright: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}
#main-wrapper .tabs ul.primary li.active a {
    background-color: #ffffff;
}
.tabs ul.secondary {
	border-bottom: none;
	padding: 0.5em 0;
}
.tabs ul.secondary li {
	display: block;
	float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
    border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
    padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
    padding: 0.25em 0.5em;
}
#main-wrapper .tabs ul.secondary li a.active {
	background: #f2f2f2;
	border-bottom: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
ul.action-links {
	list-style: none;
	margin: 5px;
	padding: 0.5em 1em;
}
ul.action-links li {
	display: inline-block;
	margin-left: 10px;
}
#main-wrapper ul.action-links li a {
	padding-left: 15px;
	background: url(../images/add.png) no-repeat left center;
	margin: 0 10px 0 0;
}
